/* adds color formating to the background */
body {
    background:  #e6e6e6;
}

/* Adds color and formating to navbar */
.navbar-brand {
    background-color: teal;
    color: white;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    color: teal;
    background-color: white;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.main-container {
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;

}
.left {
    width: 60%;
    float: left;
    padding: 0 1px 0 0;

}

.vis-container {
    background-color: white;
    margin-left: 50px;
}

.grid-plots img {
    max-width: 125%;
}

.vis-img {
    width: 100%;
}

.card-title{
    color: teal;
}