/* adds color formating to the background */
body {
    background:  #e6e6e6;
}

/* Adds color and formating to navbar */
.navbar-brand {
    background-color: teal;
    color: white;
    padding-right: 3%;
    padding-left: 3%;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-item {
    position: relative
    right: 50px
}